<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulaire</title>
</head>
<body>
    <h1 class="text-1xl font-bold underline">
    Hello world!
  </h1>
    <h1>Formulaire</h1>
    <form th:action="@{/formulaire}" th:object="${personForm}" method="post">
        
     
    <p>nom : <input type="text" th:field="*{nom}" id="nom" /></p>
    <p th:if="${#fields.hasErrors('nom')}" th:errors=*{nom} />
          
      
    
    
   
    <p>prenom: <input type ="text" th:field="*{prenom}" id="prenom"/> </p>
    <p th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" />
   
   
   
      <input type="submit" value="Ajouter">   
    
    
  </form>
</body>
</html>